services:
  postgres:
    container_name: postgres
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rahasia

  redis:
    container_name: redis
    image: redis:7.2.7-alpine3.21 
    ports:
      - 6379:6379

  redisinsight:
    container_name: redisinsight 
    image: redislabs/redisinsight:2.50 
    ports:
      - 5540:5540

  rabbitmq:
    image: rabbitmq:4.0.5-management-alpine
    container_name: rabbitmq
    ports:
      - 5672:5672 # AMOP Port
      - 15672:15672 # RabbitMQ Management UI