version: "3.9"

services:
  gateway:
    build:
      context: .
      dockerfile: ./deployment/docker/Dockerfile.dev
    volumes:
      - .:/app
    command: air
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      rabbitmq:
        condition: service_started
    networks:
      - local-app-network
